/.project
/red.xml
/libspecs
.classpath
.project
.settings
*.class
*.pyc
*.p12
*.crt
*.pem
registration.json
registration-result.txt
/target
/results
.idea
*.iml
integration-tests.iml
log.html
output.xml
report.html
node_modules
coverage
junit.xml
example-apps/*.js
smoke-tests/*.js
swagger-generated/**/*.js
